.imageList {
  @apply grid grid-cols-[repeat(auto-fit,max(200px))] place-content-center w-[max-content] gap-8 md:w-[100%] mx-auto md:px-5 py-10;
  &Wrap {
    overflow-x:scroll;
    max-width: 100%;
    scroll-snap-type: x mandatory;
  }
  &Title {
    @apply text-center text-2xl font-bold mb-5;
  }
  &Item {
    @apply w-[180px];
    scroll-snap-align: start;
    img {
      @apply w-[100%] object-cover;
    }
    ul {
      @apply text-sm my-2;
      li {
        @apply py-1
      }
    }
  }
}

.updateButton {
  @apply bg-cyan-600 text-white text-[12px] px-5 py-2 font-bold rounded-md;
  &Wrap {
    @apply w-fit  mx-auto mb-5;
  }
}

.downloadButton {
  @apply bg-primary text-white text-[12px] px-5 py-2 font-bold rounded-md transition-all hover:bg-black;
}