/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/(route)/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_iamgeList__N3J7i {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: max-content;
  justify-content: center;
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .page_iamgeList__N3J7i {
    width: 80%;
  }
}
.page_iamgeListWrap__MaeFu {
  overflow-x: scroll;
  max-width: 100%;
}

.page_buttonWrap__glfaV {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (min-width: 768px) {
  .page_buttonWrap__glfaV {
    width: 50%;
  }
}
